body {
    max-width: 1366px;
    margin: auto;
}


.header {
    float: none;
    height: 670px;
}

.menu_open {
    right: 0px;
}

.menu_close {
    position: relative;
    z-index: 1;
    right: 14px;
}

.menu_close_a {
    padding-top: 20px;
}

.back {
    right: 50px;
}


.header h5 {
    font-size: 12px;
    color: #bcc227;
    padding-left: 0px;
    bottom: 20px;
}

.menu {
    padding-left: 20px;
    height: 680px;
}

#menu_tartalom_rolunk_fuggoleges {
    padding-top: 50px;
    display: none;
}

#test_tartalom_rolunk_fuggoleges {
    display: none;
}

.belso_menu {
    position: relative;
    left: 0;
    right: 0;
    padding-left: 0px;
    bottom: 0px;
    top: 3em;
}

.belso_linkek {
    position: relative;
    right: 0;
    padding-right: 0px;
    bottom: 0px;
    top: 7em;
}

.belso_logo {
    left: 0;
}

.nav-item a {
    font-size: 27px;
}

.fejlec_tartalom {
    padding-left: 20px;
    top: 7em;
}


.fejlec_tartalom h1 {
    padding-left: 0px;
    color: white;
    font-size: 27px;
}

.fejlec_tartalom p {
    padding-left: 0px;
    top: 1em;
    font-size: 12px;
    line-height: 100%;
    color: white;
}

.fejlec_tartalom a {
    position: relative;
    left: 0px;
    top: 7em;
    font-size: 14px;
    text-decoration: none;
    color: white;
}


.kulso_logo {
    position: relative;
    left: 0px;
}

.test_tartalom {
    padding-left: 20px;
    padding-right: 20px;
}

.test_tartalom > div {
    position: relative;
    top: 7em;
    background-color: #f6f6f6;
}

.test_tartalom h2 {
    position: relative;
    bottom: 50px;
    font-size: 32px;
    right: 45px;
    left: 0;
}

#index_demo {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    top: 7.5em;
}

#index_demo img {
    width: 100%;
    height: 100%;
    margin: auto;
}


.slider_tartalom {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    top: 10em;
    margin: 0;
}

.slider_tartalom h2 {
    font-family: Montserrat-Bold;
    font-size: 32px;
    letter-spacing: 1px;
}


.reklam_box {
    padding-top: 130px;
    padding-left: 20px;
}

.reklam_box h2 {
    font-family: Montserrat-Bold;
    font-size: 40px;
    letter-spacing: 7px;
}


.kalkulator {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

.kalkulator h2 {
    font-family: Montserrat-Bold;
    font-size: 25px;
    letter-spacing: 7px;
}


.kalkulator img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.btn {
    top: 1.2em;
}

.lablec {
    padding-top: 80px;
    padding-left: 20px;
}

.lablec_menu a {
    top: 10em;
}

.ajanlat_keres {
    padding-left: 20px;
    padding-right: 20px;
}

#ajanlat_demo {
    padding-left: 20px;
    padding-right: 20px;
}

#ajanlat_demo img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.karrier_leiras {
    padding-left: 20px;
    padding-right: 20px;
}

.oneletrajz_bekuldes {
    padding-left: 20px;
    padding-right: 20px;
    top: 22em;
}

.oneletrajz_bekuldes_dobozai {
    position: relative;
    top: 3em;
}

.ajanlat_keres_alatti_boxok_csusztatas {
    position: relative;
    top: 17em;
}

#termekek_demo img {
    width: 100%;
    height: 100%;
    margin: auto;
}

#termekek_demo {
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    top: 5em;
}


.termekeink {
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.termekeink img {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    top: 3em;
}

.termekeink h1 {
    font-size: 30px;
}

.termekeink h2 {
    font-size: 30px;
}


#termekeink_fuggoleges {
    left: 30px;
}

.termekeink a {
    left: 0px;
}

.termekeink_tablazat {
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

#szolgaltatasok_demo img {
    width: 100%;
    height: 100%;
    margin: auto;
}

#szolgaltatasok_demo {
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.szolgaltatsok img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.szolgaltatsok {
    padding-left: 20px;
    padding-right: 20px;
}

#szolgaltatasok_demo h2 {
    font-size: 25px;
}

.szolgaltatsok h2 {
    font-size: 22px;
    font-family: Raleway-Black;

}

.szolgaltatsok h5 {
    font-family: Raleway-ExtraBold;
    font-size: 17px;
}

#iso_demo img {
    width: 100%;
    height: 100%;
    margin: auto;
}

#iso_demo {
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    top: 5em;
}

#iso_demo h2 {
    font-size: 30px;
}

.iso_tartalom h1 {
    font-size: 25px;
    font-family: Raleway-Black;
}

.iso_tartalom {
    padding-left: 20px;
    padding-right: 20px;
}

.iso_tartalom h5 {
    position: relative;
    top: 1em;
    font-size: 17px;
}


.iso_letoltes_tartalom h5 {
    right: 0px;
}

.iso_letoltes_tartalom_sorai {
    padding-bottom: 115px;
}

.iso_letoltes_tartalom a {
    right: 0px;
}

.ajanlat_keres h2 {
    font-size: 30px;
}

.karrier_leiras h2 {
    font-size: 30px;
}

.oneletrajz_bekuldes h2 {
    font-size: 30px;
}

.mellek_oldal_menu {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}





