body {
    max-width: 1366px;
    margin: auto;
}


.header {
    float: none;
    height: 670px;
}

.fa-align-right {
    right: 0px;
}

.fa-close {
    position: relative;
    z-index: 1;
    right: 20px;
}

.header h5 {
    font-size: 12px;
    color: #bcc227;
    padding-left: 0px;
    bottom: 20px;
}

.menu {
    padding-left: 20px;
    height: 620px;
}

.menu img {
    top: 0.5em;
}

#test_tartalom_rolunk_fuggoleges {
    display: none;
}

.belso_menu {
    position: relative;
    left: 0;
    right: 0;
    padding-left: 0px;
    bottom: 0px;
    top: 2em;
}

.belso_linkek {
    position: relative;
    right: 0;
    padding-right: 0px;
    bottom: 0px;
    line-height: 150%;
    top: 4em;
}

.fejlec_tartalom {
    padding-left: 20px;
    top: 7em;
}


.fejlec_tartalom h1 {
    padding-left: 0px;
    color: white;
}

.fejlec_tartalom p {
    padding-left: 0px;
    top: 1em;
    font-size: 12px;
    line-height: 100%;
    color: white;
}

.fejlec_tartalom a {
    position: relative;
    left: 0px;
    top: 7em;
    font-size: 14px;
    text-decoration: none;
    color: white;
}


.kulso_logo {
    position: relative;
    left: 0px;
}

.test_tartalom {
    padding-left: 20px;
    padding-right: 20px;
}

.test_tartalom > div {
    position: relative;
    top: 7em;
    background-color: #f6f6f6;
}

.test_tartalom h2 {
    position: relative;
    bottom: 50px;
    right: 15px;
}

#demo {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    top: 5em;
}


.slider_tartalom {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    top: 10em;
    margin: 0;
}

.reklam_box {
    padding-top: 180px;
    padding-left: 20px;
}

.kalkulator {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

.kalkulator img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.btn {
    top: 1.2em;
}

.lablec {
    padding-top: 80px;
    padding-left: 20px;
}
