body {
    max-width: 1366px;
    margin: auto;
}

.header {
    max-width: 1366px;
    margin: auto;
    background-image: url(../img/03.png);
    background-repeat: repeat-x;
    height: 670px;
    padding: 0;
}


.menu {
    margin: auto;
    display: none;
    position: relative;
    z-index: 1;
    background: white;
    height: 620px;
    padding-left: 128px;
}
.menu img {
    position: relative;
    top: 2em;
}

.belso_menu {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 223px;
    bottom: 80px;
}

.belso_linkek {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 193px;
    bottom: 80px;
    line-height: 150%;
}

.material-icons {
    position: relative;
    top: 0.22em;
}

.belso_linkek a {
    font-size: 10px;
    color: #bcc227;
    text-decoration: underline;
}

.belso_linkek p {
    font-size: 10px;
}

.belso_linkek i {
    padding: 0 10px;
}

.nav-item a {
    color: black;
    font-size: 30px;
}

.fa-align-right {
    background-color: white;
    padding: 5px 6px;
    border-radius: 50%;
    position: relative;
    right: 128px;
    font-size: 13px;
}

.fa-close {
    background-color: black;
    padding: 6px 7px;
    border-radius: 50%;
    position: relative;
    font-size: 13px;
    color: white;
    display: none;
    float: right;
    right: 153px;
    top: 2.5em;
}

.header h5 {
    font-size: 12px;
    color: #bcc227;
    position: relative;
    padding-left: 128px;
    bottom: 25px;
}

.fejlec_tartalom {
    position: relative;
    top: 8em;
}


.fejlec_tartalom h1 {
    position: relative;
    padding-left: 223px;
    color: white;
}

.fejlec_tartalom p {
    position: relative;
    padding-left: 223px;
    top: 1em;
    font-size: 12px;
    line-height: 100%;
    color: white;
}

.fejlec_tartalom a {
    position: relative;
    left: 223px;
    top: 4em;
    font-size: 14px;
    text-decoration: none;
    color: white;
}


.kulso_logo {
    position: relative;
    left: 128px;
}

#rolunk_fuggoleges {
    position: absolute;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    padding-bottom: 80px;
    color: #bcc227;
}

.test_tartalom {
    position: relative;
    padding-left: 223px;
    padding-right: 223px;
    margin: 0;
    background-image: url(../img/02.png);
    background-repeat: repeat-x;
    height: 720px;
    bottom: 50px;
}

.test_tartalom > div {
    position: relative;
    top: 5em;
}

.precizitas {
    padding-top: 75px;
}

.odafigyeles {
    padding-top: 75px;
}

.carousel-inner img {
    width: 100%;
    height: 435px;
}

#demo {
    padding-left: 223px;
    padding-right: 223px;
    position: relative;
    top: 1em;
}


#demo a {
    display: none;
}

.slider_tartalom {
    position: relative;
    padding-left: 223px;
    padding-right: 223px;
    top: 10em;
    margin: 0;
}

.reklam_box {
    padding-top: 180px;
    padding-left: 223px;
    background-image: url(../img/01.png);
    background-repeat: repeat-x;
    height: 426px;
    position: relative;
    top: 15em;
    color: white;
}

.kalkulator {
    padding-top: 120px;
    padding-left: 223px;
    padding-right: 223px;
    height: 714px;
    background-color: #404041;
    position: relative;
    top: 13em;
    color: white;
}

label {
    color: #919090;
}


.form-control {
    background-color: #404041;
    border-radius: 0;
    width: 190px;
    height: 50px;
}

#sel1 {
    background-color: #404041;
    color: white;

}

.btn {
    width: 126px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 0;
    position: relative;
    top: 2.2em;
}

iframe {
    position: relative;
    top: 13em;
    width: 100%;
    height: 635px;
}

.lablec {
    padding-top: 140px;
    padding-left: 223px;
    background-color: black;
    height: 670px;
    position: relative;
    top: 13em;
}

.lablec a {
    text-decoration: none;
    color: #bcc227;
    text-decoration: underline;
}

.lablec p {
    color: white;
}

.lablec_icon {
    position: relative;
    top: 14.5em;
}

.lablec_icon i {
    color: #bcc227;
    padding: 0 10px;
}

.lablec_menu a {
    position: relative;
    top: 15em;
    padding: 0 10px;
    text-decoration: none;
    color: #555555;
}
