@font-face {

    src: url(../Montserrat/Montserrat-Bold.ttf);
    font-family: Montserrat-Bold;

}

@font-face {

    src: url(../Raleway/Raleway-Medium.ttf);
    font-family: Raleway-Medium;

}

@font-face {

    src: url(../Raleway/Raleway-Black.ttf);
    font-family: Raleway-Black;

}

@font-face {

    src: url(../Raleway/Raleway-Bold.ttf);
    font-family: Raleway-Bold;

}

@font-face {

    src: url(../Raleway/Raleway-ExtraBold.ttf);
    font-family: Raleway-ExtraBold;

}


body {
    max-width: 1366px;
    margin: auto;
}

.header {
    max-width: 1366px;
    margin: auto;
    background-image: url(../img/03.png);
    background-repeat: round;
    height: 670px;
    padding: 0;
}

#menu_tartalom_rolunk_fuggoleges {
    position: absolute;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: black;
    font-family: Raleway-Medium;
    font-size: 16px;
    letter-spacing: 5px;
    padding-top: 100px;
    padding-left: 50px;
}

.menu {
    margin: auto;
    display: none;
    position: relative;
    z-index: 1;
    background: white;
    height: 620px;
    padding-left: 128px;
}

.belso_menu {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 280px;
    bottom: 80px;
}

.belso_menu a:hover {
    color: #bcc227;

}

.back {
    position: relative;
    float: right;
    right: 180px;
    top: 2.5em;
    color: black;
    text-decoration: none;
}

.mellek_oldal_back {
    position: relative;
    float: right;
    right: 30px;
    top: 1.8em;
    color: black;
    text-decoration: none;
}

.belso_logo {
    position: relative;
    top: 0.8em;
    left: 15px;
}

.belso_linkek {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 223px;
    bottom: 80px;
    line-height: 30%;
}

.material-icons {
    position: relative;
    top: 0.22em;
}

.belso_linkek a {
    font-size: 10px;
    color: #bcc227;
    text-decoration: underline;
}

.belso_linkek p {
    font-size: 10px;
}

.belso_linkek i {
    padding: 0 10px;
}

.nav-item a {
    color: black;
    font-family: Montserrat-Bold;
    font-size: 40px;
    letter-spacing: 7px;
    line-height: 120%;
}

.menu_open {
    background-color: white;
    border-radius: 50%;
    position: relative;
    right: 145px;
    font-size: 13px;
}

.menu_close {
    position: relative;
    top: 2.5em;
    font-size: 13px;
    color: white;
    display: none;
    float: right;
    right: 153px;
}

.header h5 {
    font-size: 12px;
    color: #bcc227;
    position: relative;
    padding-left: 148px;
    bottom: 50px;
    font-family: Raleway-Medium;
    letter-spacing: 7px;
    font-size: 16px;
}

.fejlec_tartalom {
    position: relative;
    top: 5em;
}

.fejlec_tartalom h1 {
    position: relative;
    padding-left: 223px;
    color: white;
    font-family: Montserrat-Bold;
    font-size: 60px;
    letter-spacing: 7px;
    line-height: 110%;
}

.fejlec_tartalom p {
    position: relative;
    padding-left: 223px;
    top: 1em;
    font-size: 12px;
    line-height: 100%;
    color: white;
    font-family: Raleway-Medium;
    font-size: 17px;
    letter-spacing: 2px;
}

.fejlec_tartalom a {
    position: relative;
    left: 223px;
    top: 4em;
    text-decoration: none;
    color: white;
    font-family: Raleway-Medium;
    font-size: 14px;
    letter-spacing: 2px;
}


.fa-window-minimize {
    position: relative;
    bottom: 5px;
    left: 10px;
}

.kulso_logo {
    position: relative;
    left: 128px;
}

#test_tartalom_rolunk_fuggoleges {
    position: absolute;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    padding-bottom: 70px;
    letter-spacing: 5px;
    color: #d9e126;
    font-family: Raleway-Medium;
    font-size: 16px;
    left: 20px;
}

.test_tartalom {
    position: relative;
    padding-left: 223px;
    padding-right: 223px;
    margin: 0;
    background-image: url(../img/02.png);
    background-repeat: round;
    height: 720px;
    bottom: 50px;
}

.test_tartalom > div {
    position: relative;
    top: 5em;
}

.test_tartalom h2 {
    font-size: 42px;
    font-family: Montserrat-Bold;
    position: relative;
    left: 50px;
}

.test_tartalom h4 {
    font-family: Raleway-Black;
    font-size: 24px;
    letter-spacing: 5px;
}

.test_tartalom p {
    font-family: Raleway-Medium;
    font-size: 14px;
}

.precizitas {
    padding-top: 75px;
}

.odafigyeles {
    padding-top: 75px;
}

#index_demo img {
    width: 100%;
    height: 435px;
}

#index_demo {
    padding-left: 223px;
    padding-right: 223px;
    position: relative;
    top: 1em;
}

#index_demo a {
    display: none;
}

.carousel-indicators {
    display: none;
}

.nyilak {
    display: none;
}

.slider_tartalom {
    position: relative;
    padding-left: 223px;
    padding-right: 223px;
    top: 10em;
    margin: 0;
}

.slider_tartalom h2 {
    font-family: Montserrat-Bold;
    font-size: 42px;
    letter-spacing: 1px;
}

.slider_tartalom p {
    font-family: Raleway-Medium;
    font-size: 14px;
}


.reklam_box {
    padding-top: 150px;
    padding-left: 223px;
    background-image: url(../img/01.png);
    background-repeat: repeat-x;
    height: 426px;
    position: relative;
    top: 15em;
    color: white;
}

.reklam_box h2 {
    font-family: Montserrat-Bold;
    font-size: 60px;
    letter-spacing: 7px;
}

.kalkulator {
    padding-top: 120px;
    padding-left: 223px;
    padding-right: 223px;
    height: 714px;
    background-color: #404041;
    position: relative;
    top: 13em;
    color: white;
}

.kalkulator h2 {
    font-family: Montserrat-Bold;
    font-size: 42px;
    letter-spacing: 7px;
}


.kalkulator_label {
    color: #919090;
}

.ajanlat_label {
    color: #aaa9a9;
    font-family: Raleway-Medium;
    font-size: 14px;
}

.kalkulator_formok {
    background-color: #404041;
    border-radius: 0;
    width: 190px;
    height: 50px;
    color: white;
}

#sel1 {
    background-color: #404041;
    color: white;
}

.kalkulator_btn {
    width: 126px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 0;
    position: relative;
    top: 2.2em;
}

.ajanlat_btn {
    border-radius: 0;
    position: relative;
    width: 125px;
    height: 48px;
    background-color: #404041;
}

iframe {
    position: relative;
    top: 13em;
    width: 100%;
    height: 635px;
}

.lablec {
    padding-top: 140px;
    padding-left: 223px;
    background-color: black;
    height: 670px;
    position: relative;
    top: 13em;
}


.lablec_elso_tartalom p {
    position: relative;
    right: 10px;
    padding-top: 30px;
    font-size: 16px;
    font-family: Raleway-Medium;
}

.lablec a {
    text-decoration: none;
    color: #bcc227;
    text-decoration: underline;
}

.lablec p {
    color: white;
}

.lablec_icon {
    position: relative;
    top: 14.5em;
}

.lablec_icon i {
    color: #bcc227;
    padding: 0 10px;
}

.lablec_menu a {
    position: relative;
    top: 17em;
    padding: 0 10px;
    text-decoration: none;
    color: #555555;
}

.lablec_linkek p {
    line-height: 100%;
    position: relative;
    top: 6em;
}

.lablec_linkek h6 {
    font-family: Raleway-Medium;
    font-size: 18px;
    color: white;
    position: relative;
    top: 4em;
}

.mellek_oldal_menu {
    padding-top: 10px;
    padding-left: 153px;
    padding-right: 153px;
}

.mellek_oldal_menu_close_a {
    float: right;
    position: relative;
    top: 1.5em;
}

.ajanlat_keres {
    padding-left: 193px;
    padding-right: 193px;
}

.ajanlat_keres_dobozai {
    position: relative;
    top: 9em;
}

.ajanlat_keres h2 {
    position: relative;
    top: 2em;
    font-family: Montserrat-Bold;
    font-size: 60px;
    letter-spacing: 7px;
    line-height: 110%;
}

#ajanlat_demo {
    padding-left: 193px;
    padding-right: 193px;
    position: relative;
    top: 15em;
}

#ajanlat_demo img {
    width: 100%;
    height: 432px;
}

#ajanlat_demo a {
    display: none;
}

.karrier_leiras {
    position: relative;
    top: 20em;
    padding-left: 193px;
    padding-right: 193px;
}

.karrier_leiras h2 {
    font-family: Montserrat-Bold;
    font-size: 60px;
    letter-spacing: 7px;
    line-height: 110%;
}

.karrier_leiras p {
    font-size: 16px;
    font-family: Raleway-Medium;
}

.oneletrajz_bekuldes {
    position: relative;
    top: 26em;
    padding-left: 193px;
    padding-right: 193px;
}

.oneletrajz_bekuldes h2 {
    position: relative;
    font-family: Montserrat-Bold;
    font-size: 60px;
    letter-spacing: 7px;
    line-height: 110%;
}

.ajanlat_keres_alatti_boxok_csusztatas {
    position: relative;
    top: 20em;
}

#termekek_demo img {
    width: 100%;
    height: 435px;
}

#termekek_demo {
    padding-top: 150px;
    padding-left: 193px;
    padding-right: 193px;
    position: relative;
}

#termekek_demo h2 {
    font-size: 60px;
    font-family: Montserrat-Bold;
    letter-spacing: 7px;
    color: #d8e126;
    position: relative;
    right: 10px;
}

#termekek_demo a {
    text-decoration: none;
    position: relative;
    top: 1.5em;
}

.alu_szoveg {
    font-family: Raleway-Black;
    font-size: 16px;
    color: #404041;
}

.alu_szama {
    font-family: Raleway-ExtraBold;
    font-size: 30px;
    color: #d9e126;
    padding-right: 10px;
}

.alu_rudak {
    position: relative;
    float: right;
}

.termekek_carousel {
    position: relative;
    top: 5em;
}

.termekeink {
    padding-top: 150px;
    padding-left: 193px;
    padding-right: 193px;
}

#termekeink_fuggoleges {
    position: absolute;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    padding-bottom: 100px;
    letter-spacing: 5px;
    color: #d9e126;
    font-size: 16px;
    font-family: Raleway-Medium;
}

.termekeink_boxok_01 {
    position: relative;
    top: 5em;
}

.termekeink_elso_sora {
    padding-bottom: 130px;
}

.termekeink_boxok_02 {
    position: relative;
    top: 5em;
}

.termekeink a {
    position: relative;
    left: 250px;
    color: #bcc227;
    text-decoration: none;
    font-family: Raleway-Bold;
    font-size: 16px;
}

.termekeink h1 {
    font-family: Montserrat-Bold;
    font-size: 60px;
    letter-spacing: 7px;
    line-height: 110%;
}

.termekeink h2 {
    font-size: 48px;
    font-family: Raleway-Black;
}

.termekeink h5 {
    font-family: Raleway-ExtraBold;
    font-size: 38px;
    color: #bcc227;

}

.termekeink_tablazat {
    padding-top: 150px;
    padding-left: 193px;
    padding-right: 193px;
}

.termekeink_tablazat p {
    background: #666666;
    position: relative;
    top: 1.2em;
    padding-top: 20px;
    padding-bottom: 40px;
    color: white;
}

.table thead {
    background: #666666;
    color: white;
}

.termekeink_csusztatas {
    position: relative;
    top: 15em;
}

.termekek_test {
    position: relative;
    top: 8em;
    padding-left: 193px;
    padding-right: 193px;
}

.termekek_test h2 {
    font-size: 42px;
    font-family: Raleway-Black;
}

#szolgaltatasok_demo img {
    width: 100%;
    height: 435px;
}

#szolgaltatasok_demo {
    padding-top: 150px;
    padding-left: 193px;
    padding-right: 193px;
    position: relative;
    top: 1em;
}

#szolgaltatasok_demo a {
    display: none;
}

.szolgaltatsok {
    padding-left: 193px;
    padding-right: 193px;
    position: relative;
    top: 10em;
}

.szolgaltatsok h2 {
    font-size: 42px;
    font-family: Raleway-Black;

}

.szolgaltatsok h5 {
    font-family: Raleway-ExtraBold;
    font-size: 30px;
}

.szolgaltatsok p {
    font-size: 14px;
    font-family: Raleway-Medium;

}

.szolgaltatsok a {
    color: #bcc227;
    text-decoration: none;
    font-family: Raleway-Medium;
    font-size: 16px;
}

#szolgaltatasok_demo h2 {
    font-family: Montserrat-Bold;
    font-size: 60px;
    letter-spacing: 7px;
    line-height: 110%;
}

#szolgaltatasok_demo h6 {

    font-family: Raleway-Bold;
    font-size: 14px;
    letter-spacing: 4px;
    line-height: 110%;
}

.szolgaltatsok h5 {
    color: #bcc227;
}

.szolgaltatsok_sora {
    padding-bottom: 50px;
}

#iso_demo img {
    width: 100%;
    height: 435px;
}

#iso_demo {
    padding-top: 150px;
    padding-left: 193px;
    padding-right: 193px;
    position: relative;
    top: 1em;
}

#iso_demo h2 {
    font-family: Montserrat-Bold;
    font-size: 60px;
    letter-spacing: 7px;
}

#iso_demo a {
    display: none;
}

.iso_tartalom {
    padding-left: 193px;
    padding-right: 193px;
    position: relative;
    top: 10em;
}

.iso_tartalom h1 {
    font-size: 42px;
    font-family: Raleway-Black;
}

.iso_tartalom p {
    font-family: Raleway-Medium;
    font-size: 14px;
}


.iso_tartalom h6 {
    font-size: 36px;
    font-family: Raleway-Black;
}

.iso_letoltes_tartalom {
    position: relative;
    top: 5em;
}

.iso_letoltes_tartalom i {
    font-size: 125px;
    color: #dbe23e;
}

.iso_letoltes_tartalom h5 {
    position: relative;
    right: 80px;
    font-size: 36px;
    font-family: Raleway-Black;
}

.iso_letoltes_tartalom_sorai {
    padding-bottom: 115px;
}

.iso_letoltes_tartalom a {
    color: #dbe23e;
    position: relative;
    right: 80px;
    top: 3em;
    text-decoration: none;
}

.galleria {
    padding-top: 150px;
    padding-left: 193px;
    padding-right: 193px;
}

.galleria_sor {
    margin: 15px;
}

.map {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.form-control::-moz-placeholder {
    color: white;
    opacity: 1; /* Firefox */
}


/* Reset Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-color: #404041;
    background-image: none;
}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
}

/* Custom Select */
.select {
    position: relative;
    display: flex;
    line-height: 3;
    overflow: hidden;
    background-color: #404041;
    border-radius: 0;
    width: 190px;
    height: 50px;
    border: 1px solid white;
}

select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
}

/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background-color: #404041;
    cursor: pointer;
    pointer-events: none;

}

/* Transition */
.select:hover::after {
    color: #dbe23e;
}
