.kulso_logo {
    left: 50px;
}

.header h5 {
    padding-left: 50px;
}

.fejlec_tartalom h1 {
    padding-left: 50px;
}

.fejlec_tartalom p {
    padding-left: 50px;
}

.fejlec_tartalom a {
    left: 50px;
}
#menu_tartalom_rolunk_fuggoleges {
    padding-bottom: 80px;
}

.test_tartalom {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    height: 720px;
}

.test_tartalom > div {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    top: 0em;
    background-color: #f6f6f6;
}

#demo {
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    top: 1em;
}

.slider_tartalom {
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    top: 10em;
    margin: 0;
}

.menu {
    padding-left: 50px;
}

.belso_menu {
    padding-left: 50px;
}

.belso_linkek {
    padding-right: 50px;
}

.reklam_box {
    padding-top: 180px;
    padding-left: 50px;
}

.kalkulator {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;
}

.btn {
    top: 1.2em;
}

.lablec {
    padding-top: 140px;
    padding-left: 50px;

}
