.kulso_logo {
    left: 50px;
}

.belso_logo {
    position: relative;
    top: 0.5em;
    left: 0px;
}

.nav-item a {
    color: black;
    font-family: Montserrat-Bold;
    font-size: 30px;
}

.header h5 {
    padding-left: 50px;
}

.fejlec_tartalom h1 {
    padding-left: 50px;
    font-size: 45px;
}

.fejlec_tartalom p {
    padding-left: 50px;
}

.fejlec_tartalom a {
    left: 50px;
}

#menu_tartalom_rolunk_fuggoleges {
    padding-bottom: 80px;
}

.test_tartalom {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    height: 720px;
}

.test_tartalom > div {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    top: 0em;
    background-color: #f6f6f6;
}

.test_tartalom h2 {
    font-size: 32px;
}

#index_demo {
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    top: 1em;
}

.slider_tartalom {
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    top: 10em;
    margin: 0;
}

.slider_tartalom h2 {
    font-family: Montserrat-Bold;
    font-size: 32px;
    letter-spacing: 1px;
}

.reklam_box h2 {
    font-family: Montserrat-Bold;
    font-size: 40px;
    letter-spacing: 7px;
}

.kalkulator h2 {
    font-family: Montserrat-Bold;
    font-size: 32px;
    letter-spacing: 7px;
}


.menu {
    padding-left: 50px;
}

.belso_menu {
    padding-left: 100px;
}

.belso_linkek {
    padding-right: 50px;
}

.reklam_box {
    padding-top: 180px;
    padding-left: 50px;
}

.kalkulator {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;
}

.btn {
    top: 1.2em;
}

.lablec {
    padding-top: 140px;
    padding-left: 50px;

}

.lablec_menu a {
    top: 16em;
}

.ajanlat_keres {
    padding-left: 50px;
    padding-right: 50px;
}

#ajanlat_demo {
    padding-left: 50px;
    padding-right: 50px;
}

.karrier_leiras {
    padding-left: 50px;
    padding-right: 50px;
}

.oneletrajz_bekuldes {
    padding-left: 50px;
    padding-right: 50px;
}

.termekeink {
    padding-top: 75px;
    padding-left: 50px;
    padding-right: 50px;
}

.termekeink h1 {
    font-size: 40px;
}

.termekeink h2 {
    font-size: 40px;
}

.termekeink a {
    position: relative;
    left: 200px;
    color: #bcc227;
    text-decoration: none;
}


.termekeink_tablazat {
    padding-top: 75px;
    padding-left: 50px;
    padding-right: 50px;
}

#szolgaltatasok_demo {
    padding-top: 75px;
    padding-left: 50px;
    padding-right: 50px;
}

.szolgaltatsok {
    padding-left: 50px;
    padding-right: 50px;
}

#szolgaltatasok_demo h2 {
    font-size: 40px;
}

.szolgaltatsok h2 {
    font-size: 32px;
    font-family: Raleway-Black;

}

.szolgaltatsok h5 {
    font-family: Raleway-ExtraBold;
    font-size: 20px;
}

#iso_demo {
    padding-top: 75px;
    padding-left: 50px;
    padding-right: 50px;
}

#iso_demo h2 {
    font-size: 40px;
}

.iso_tartalom h1 {
    font-size: 32px;
    font-family: Raleway-Black;
}

.iso_tartalom {
    padding-left: 50px;
    padding-right: 50px;
}


.iso_letoltes_tartalom h5 {
    font-size: 30px;
    right: 80px;
}

.iso_letoltes_tartalom_sorai {
    padding-bottom: 115px;
}

.iso_letoltes_tartalom a {
    right: 80px;
}

.ajanlat_keres h2 {
    font-size: 40px;
}

.karrier_leiras h2 {
    font-size: 40px;
}

.oneletrajz_bekuldes h2 {
    font-size: 40px;
}

.mellek_oldal_menu {
    padding-top: 10px;
    padding-left: 70px;
    padding-right: 70px;
}


